name: Simple Workflow

on:
  push:

jobs:
  first_job:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Create and read file
        run: |
          echo "Hello Shubham" > sp.txt
          cat sp.txt
